/* Style dùng chung cho cả hai */
.custom-search-select {
  min-height: 55px;

  .ant-select-selector {
    min-height: 55px !important;
    padding: 16px 24px !important;
    font-size: 20px !important;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
  }

  .ant-select-selection-placeholder {
    font-size: 20px !important;
    display: flex;
    align-items: center;
  }

  .ant-select-selection-search-input {
    padding-left: 15px !important;
    font-size: 20px !important;
    display: flex;
    align-items: center;
  }
}

.city-select {
  width: 300px !important;
}

.skill-select {
  width: 500px !important;
}
