.job-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    padding: 24px;
    background: #f9fafb;
    min-height: 100vh;
  }
  
  .job-sidebar {
    width: 40%;
  }
  

  .job-content {
    width: 60%;
    position: sticky;
    top: 80px; // tránh header
    align-self: flex-start;
    min-height: calc(100vh - 100px); // ✅ đủ dài để tràn chiều cao màn hình
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .job-card {
    margin-bottom: 16px;
    border: 1px solid transparent;
    transition: all 0.3s;
    cursor: pointer;
  
    &:hover {
      background: #fff4ed;
    }
  
    &.selected {
      border: 1px solid red;
      border-left: 3px solid red;
      background: #fff7ed;
    }
  }
  
  .tags {
    margin-top: 10px;
  }
  
  .highlights {
    padding-left: 20px;
    margin-top: 10px;
    color: #dc2626;
  
    li {
      margin-bottom: 4px;
    }
  }
  
  .address {
    margin-top: 10px;
  }


  .pagination-center {
    display: flex;
    justify-content: center;
    padding: 24px 0 48px;
    background: #f9fafb;
  }

  .no-jobs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    background-color: #f9fafb;
    flex-direction: column;
  }
  
  .pagination-center {
    display: flex;
    justify-content: center;
    padding: 32px 0 60px;
    background: #f9fafb;
  }
  
  .job-result-info {
    padding: 12px 16px;
  }
  
  
  
  