.markdown-preview {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #222;
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    // box-shadow: 0 0 8px rgba(0,0,0,0.05);
  }

  .markdown-preview1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
    overflow: hidden;
    position: relative;
    max-height: calc(1.5em * 12); // giả sử line-height là 1.5
  
    &.expanded {
      -webkit-line-clamp: unset;
      max-height: none;
      overflow: visible;
    }
  }
  
  .toggle-button {
    color: #2563eb;
    cursor: pointer;
    margin-top: 8px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
  }
  
  
  /* Tiêu đề */
  .markdown-preview h1 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
    font-weight: bold;
  }
  .markdown-preview h2 {
    font-size: 1.5rem;
    margin: 1.2rem 0 1rem;
    font-weight: bold;
  }
  .markdown-preview h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0.8rem;
    font-weight: bold;
  }
  
  /* Đoạn văn */
  .markdown-preview p {
    margin-bottom: 1rem;
  }
  
  /* Danh sách */
  .markdown-preview ul,
  .markdown-preview ol {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }
  
  .markdown-preview li {
    margin-bottom: 0.5rem;
  }
  
  /* Code nội dòng */
  .markdown-preview code {
    background-color: #f5f5f5;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    font-size: 0.95rem;
  }
  
  /* Code block */
  .markdown-preview pre {
    background-color: #f0f0f0;
    padding: 12px 16px;
    border-radius: 6px;
    overflow-x: auto;
    font-family: 'Courier New', monospace;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
  }
  
  /* Ảnh */
  .markdown-preview img {
    max-width: 100%;
    border-radius: 6px;
    margin: 1rem 0;
  }
  
  /* Đường dẫn */
  .markdown-preview a {
    color: #0070f3;
    text-decoration: underline;
  }
  
  .markdown-preview blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    color: #555;
    font-style: italic;
  }
  