.no-fullscreen {
  height: 300px;

  .button-type-fullscreen {
    display: none !important;
  }

  .rc-md-editor {
    height: 100% !important;
  }

  .editor-container {
    height: 100% !important;
  }

  .section-container {
    height: 100% !important;
  }

  textarea, .input {
    height: 100% !important;
    min-height: 250px; // để gõ được nhiều dòng
  }
}
